<div class="tab-content">
    <div class="tab-pane active">
        <div class="uc-box__content">
            <div ng-init="vm.c_per_page=20;" class="uc-user-collects s-list-box s-list-box--main">
                <div class="loading-box" ng-show="!vm.data">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
                <div class="no-data-box-2" ng-show="vm.data.data.length==0">
                    <img src="/images/nodata.png" alt="">
                    <div class="text">暂无相关内容</div>
                </div>
                <ul class="list-unstyled s-list-box__ul cf" >
                    <li class="s-list-box__li" ng-repeat="item in vm.data.data" ng-if="$index<=(vm.data.current_page*vm.c_per_page-1)&&$index>((vm.data.current_page-1)*vm.c_per_page)-1">
                        <div class="item" ng-click="$root.go('/case/detail/'+item.record_id)">
                            <a class="img-wrapper"  ng-href="{{'/case/detail/'+item.record_id}}">
                                <img class="img" ng-src="{{item.cover}}">
                            </a>
                            <div class="info-wrapper">
                                <div class="name">
                                    <a class="link"
                                       ng-href="{{'/case/detail/'+item.record_id}}">{{item.title}}</a>
                                </div>
                                <div class="company">
                                    <a class="link" ng-click="$event.stopPropagation()" ng-href="{{'/company/detail/'+item.company_id}}">{{item.company_name}}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="s-pagination" ng-if="vm.data.total/vm.c_per_page>1"  uc-uib-pagination>
                    <div uib-pagination
                         boundary-links="true"
                         boundary-link-numbers="true"
                         max-size="5"
                         total-items="vm.data.data.length"
                         ng-model="vm.data.current_page"
                         items-per-page="vm.c_per_page"
                         previous-text="&lsaquo;"
                         next-text="&rsaquo;"
                         first-text="&laquo;"
                         last-text="&raquo;">
                    </div>
                    <div uc-uib-pagination-control
                         current-page="vm.data.current_page"
                         target-page="{{vm.data.current_page}}"
                         total-page="{{Math.ceil(vm.data.data.length/vm.c_per_page)}}"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>