<div class="uc-box__tabset cf">
    <ul class="nav nav-tabs">
        <li class="uib-tab nav-item tab__li tab__li--main active" >
            <a class="nav-link" >
                <div class="tab-heading">搜索商户</div>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="uc-box__content">
                <div class="uc-apply-auth search" ng-show="!vm.data">
                    <form class="search-form" ng-submit="vm.getCompanys(vm.searchPara)">
                        <div class="group input-wrapper">
                            <div class="form-control-box form-control-box-block">
                                <input type="text" ng-model="vm.searchPara.keywords"
                                       class="form-control form-control-color-main form-control-size-lg"
                                placeholder="请输入商户名称">
                                <i class="haloIcon haloIcon-glass2"></i>
                            </div>
                        </div>
                        <div class="group bt-wrapper" >
                            <button type="submit" class="btn btn-color-main">确定</button>
                        </div>
                    </form>
                </div>

                <div class="uc-apply-auth result s-list-box s-list-box--main" ng-show="vm.data.data.length>0">
                    <div class="loading-box" ng-show="!vm.data">
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                    </div>
                    <ul class="list-unstyled s-list-box__ul cf">
                        <li class="s-list-box__li" ng-repeat="item in vm.data.data" ng-if="$index<=(vm.data.current_page*vm.c_per_page-1)&&$index>((vm.data.current_page-1)*vm.c_per_page)-1">
                            <div class="item" ng-click="$root.go('/company/detail/'+item.id)">
                                <a class="img-wrapper"  ng-href="{{'/company/detail/'+item.id}}">
                                    <img class="img" ng-src="{{item.logo}}">
                                </a>
                                <div class="info-wrapper">
                                    <div class="name">
                                        <a class="link"
                                           ng-href="{{'/company/detail/'+item.id}}">{{item.name}}</a>
                                    </div>
                                    <div class="case-num">
                                        <span class="des">共{{item.case_num}}个案例</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="uc-apply-auth no-result"  ng-show="vm.data.data.length==0">
                    没有找到
                </div>
            </div>
        </div>
    </div>
</div>
