<!--登入框-->
<div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="login-modal"  role="dialog">
	<div class="modal-dialog modal-big school-modal" >
		<div class="modal-content ">
			<div class="modal-body school-body">
				<img src="/images/school-banner.png" alt="">
				<p style="text-align:center;font-size:12px;">领先者背后的领先者</p>
				<form class="js-validation-login form-horizontal push-30-t push-50" id="school-form-login">
					<div class="form-group">
						<div class="col-xs-12">
							<div class="form-material form-material-primary floating">
								<input class="form-control" type="text" id="login-username" name="login-username" autocomplete='off'>
								<label for="login-username">幻熊通行证（手机号）</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<div class="form-material form-material-primary floating">
								<input class="form-control" type="password" id="login-password" name="login-password" autocomplete='off'>
								<label for="login-password">密码</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<button class="btn login-btn " type="submit">登&nbsp;入</button>
						<div class="register-block">
							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!--验证框-->
<div class="modal fade" id="register-modal" tabindex="-1" aria-labelledby="register-modal"  role="dialog">
	<div class="modal-dialog modal-big school-modal" >
		<div class="modal-content ">
			<div class="modal-body school-body">
				<img src="/images/school-banner.png" alt="">
				<p style="text-align:center;font-size:12px;">领先者背后的领先者</p>
				<form class="js-validation-login form-horizontal push-30-t push-50" id="school-form-register">
					<div id="register-form-input">
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control" type="text" id="register_invite_code" name="register_invite_code" autocomplete='off'>
									<label for="register_invite_code">请输入您的邀请码</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control" type="password" id="register_phone" name="register_phone" autocomplete='off'>
									<label for="register_phone">请输入您的手机号码</label>
								</div>
							</div>
						</div>
					</div>
					<div id="register-form-submit">
						<div class="form-group">
							<button class="btn login-btn " type="submit">发送验证码</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- 注册 -->
<div class="modal fade" id="zc-modal" tabindex="-1" aria-labelledby="zc-modal"  role="dialog">
	<div class="modal-dialog modal-big school-modal" >
		<div class="modal-content ">
			<div class="modal-body school-body">
				<img src="/images/school-banner.png" alt="">
				<p style="text-align:center;font-size:12px;">领先者背后的领先者</p>
				<form class="js-validation-login form-horizontal push-30-t push-50" id="school-form-ZC">
					<div id="register-form-input">
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_phone" type="text" id="n_register_phone" name="n_register_phone" autocomplete="off">
									<label for="n_register_phone">请输入手机号</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_verify_code" type="text" id="n_register_verify_code" name="n_register_verify_code" autocomplete="off">
									<label for="n_register_verify_code">请输入短讯验证码</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_invite_code" type="text" id="n_register_invite_code" name="n_register_invite_code" autocomplete="off">
									<label for="n_register_invite_code">请输入邀请码</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_username" type="text" id="n_register_username" name="n_register_username" autocomplete="off">
									<label for="n_register_username">请输入昵称</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_city" type="text" id="n_register_city" name="n_register_city" autocomplete="off">
									<label for="n_register_city">请输入城市</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_company" type="text" id="n_register_company" name="n_register_company" autocomplete="off">
									<label for="n_register_company">请输入公司</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_wechat" type="text" id="n_register_wechat" name="n_register_wechat" autocomplete="off">
									<label for="n_register_wechat">请输入微信号</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_password" type="text" id="n_register_password" name="n_register_password" autocomplete="off">
									<label for="n_register_password">请输入密码</label>
								</div>
							</div>
						</div>
					</div>
					<div id="register-form-submit">
						<div class="form-group">
							<button class="btn login-btn" id="zc_btn" type="submit">注&nbsp;册</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


