<div >
    <div class="modal-header">
        <h3 class="modal-title">图片设置</h3>
    </div>
    <div class="modal-body">

        <div hb-qiniu-file-upload="vm.options">
            <div class="s-jcrop-wrapper"  hb-qiniu-file-upload-drag-container>


                <div class="bt-warpper" ng-class="{'bt-hide':!(!vm.imgData&&!vm.progress)}">
                    <div hb-qiniu-file-upload-bt-container >
                        <a class="btn btn-color-main"  hb-qiniu-file-upload-bt>
                            选择图片
                        </a>
                    </div>
                    <div class="des">
                        支持JPG、PNG、GIF <br>大小不超过5M
                    </div>
                </div>
                <div class="progress-warpper" ng-show="vm.progress<100">
                    <div class="col-md-offset-1 col-md-10">
                        <div uib-progressbar animate="false" class="progress-striped" type="color-main" value="vm.progress" ><b>{{vm.progress}}%</b></div>
                    </div>
                </div>
                <div class="s-jcrop" ng-show="vm.imgData" s-jcrop s-jcrop-src="vm.imgData.url" s-jcrop-h="vm.imgData.height"
                     s-jcrop-w="vm.imgData.width"></div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div hb-qiniu-file-upload="vm.options">
            <div hb-qiniu-file-upload-bt-container >
                <a class="btn btn-default pull-left" hb-qiniu-file-upload-bt>
                    重新上传
                </a>
            </div>
        </div>

        <button class="btn btn-color-main" type="button" ng-click="vm.ok()">确定</button>
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">取消</button>
    </div>
</div>