<!DOCTYPE html>
<html>
<head>
    {{> commonHeader pageTitle=data.pageTitle}}
    {{> commonHeaderEnd}}
</head>
<body>
{{> header}}
<div class="halo-search case companyDetail">
    <div class="top-tab">
        <div class="container">
            <div class="tab-item no-margin-left">
                <a href="">
                    <span class="item-img"><img src="/images/img1.png" alt=""></span>
                    <span class="item-text">婚礼案例</span>
                </a>
            </div>
            <div class="tab-item">
                <a href="">
                    <span class="item-img"><img src="/images/img2.png" alt=""></span>
                    <span class="item-text">婚礼图片</span>
                </a>
            </div>
            <div class="tab-item">
                <a href="">
                    <span class="item-img"><img src="/images/img3.png" alt=""></span>
                    <span class="item-text">婚礼公司</span>
                </a>
            </div>
        </div>
    </div>
    <div class="company-detail ">
        <div class="container wrapper">
            <div class="col-md-10 col-sm-12 col-xs-12 inner">
                 <div class="company-detail-content">
                      <div class="content-topic">
                          <img src="/images/img6.jpg" alt=""/>
                      </div>
                     <div class="company-desc">
                         <div class="col-md-2 col-sm-2 desc-pic">
                             <img src="/images/img7.jpg" alt=""/>
                         </div>
                         <div class="col-md-10 col-sm-10 desc-p">
                             <p class="f-18 desc-txt">艾恩婚礼</p>
                         </div>
                     </div>
                     <div class="company-about">
                          <div class="col-md-2 col-sm-2">
                              <p class="about-title float-right">公司简介</p>
                          </div>
                          <div class="col-md-10 col-sm-10">
                              <p>经历七年的历程，慢慢学习经历七年的历程，慢慢学习经历七年的历程，慢慢学习经历七年的历程，慢慢学习经历七年的历程，慢慢学习</p>
                          </div>
                     </div>
                     <div class="company-about">
                         <div class="col-md-2 col-sm-2">
                             <p class="about-title float-right">公司信息</p>
                         </div>
                         <div class="col-md-10 col-sm-10">
                             <p>官方网址：<span>www.aien.com</span></p>
                             <p>官方微博：<span>艾恩婚礼</span></p>
                             <p>腾讯微信：<span>艾恩婚礼</span></p>
                             <p>营业时间：<span>艾恩婚礼</span></p>
                             <p>联系电话：<span>艾恩婚礼</span></p>
                             <p>地址：<span>艾恩婚礼</span></p>
                         </div>
                     </div>
                     <div class="company-about">
                         <div class="col-md-2 col-sm-2">
                             <p class="about-title float-right">公司案例</p>
                         </div>
                         <div class="col-md-10 col-sm-10 no-top">
                             <div class="col-md-3 col-sm-12 left">
                                 <a class="block-content-item">
                                     <img src="/images/img6.jpg" alt="">
                                     <div class="content-item-text">
                                         <div class="content-item-text-desc">
                                             <p class="f-16 f-white">拾壹</p>
                                             <ul class="desc-list">
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                             <div class="col-md-3 col-sm-12">
                                 <a class="block-content-item left">
                                     <img src="/images/img6.jpg" alt="">
                                     <div class="content-item-text">
                                         <div class="content-item-text-desc">
                                             <p class="f-16 f-white">拾壹</p>
                                             <ul class="desc-list">
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                             <div class="col-md-3 col-sm-12">
                                 <a class="block-content-item left">
                                     <img src="/images/img6.jpg" alt="">
                                     <div class="content-item-text">
                                         <div class="content-item-text-desc">
                                             <p class="f-16 f-white">拾壹</p>
                                             <ul class="desc-list">
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                             <div class="col-md-3 col-sm-12">
                                 <a class="block-content-item left">
                                     <img src="/images/img6.jpg" alt="">
                                     <div class="content-item-text">
                                         <div class="content-item-text-desc">
                                             <p class="f-16 f-white">拾壹</p>
                                             <ul class="desc-list">
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                             <div class="col-md-3 col-sm-12">
                                 <a class="block-content-item left">
                                     <img src="/images/img6.jpg" alt="">
                                     <div class="content-item-text">
                                         <div class="content-item-text-desc">
                                             <p class="f-16 f-white">拾壹</p>
                                             <ul class="desc-list">
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>
{{> ModalDialog}}
{{> footer}}
{{> commonFooter }}

<script src="../public/js/app.companyDetail.js"></script>



<script>
    $(function(){
        app.index.lazy();
        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();
        app.index.pagActive();

        app.companyDetail.uiHeight();
        app.companyDetail.verticalMiddle("desc-p","desc-txt");
        app.companyDetail.alignCenter("wrapper","inner");
    })


</script>
</body>
</html>



