<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="favicon.ico"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <title>搜索引擎_幻熊科技 - 更智慧的婚礼业</title>
    {{> commonHeaderEnd}}
</head>
<body>
{{> header}}
<div class="halo-search case companyDetail">
    <div class="top-tab">
        <div class="container">
            <div class="tab-item no-margin-left">
                <a href="">
                    <span class="item-img"><img src="/images/img1.png" alt=""></span>
                    <span class="item-text">婚礼案例</span>
                </a>
            </div>
            <div class="tab-item">
                <a href="">
                    <span class="item-img"><img src="/images/img2.png" alt=""></span>
                    <span class="item-text">婚礼图片</span>
                </a>
            </div>
            <div class="tab-item">
                <a href="">
                    <span class="item-img"><img src="/images/img3.png" alt=""></span>
                    <span class="item-text">婚礼公司</span>
                </a>
            </div>
        </div>
    </div>
    <div class="company-detail ">
        <div class="container">
            <div class="col-md-960">
                 <div class="company-detail-content">
                      <div class="content-topic">
                          <img src="/images/img6.jpg" alt=""/>
                      </div>
                     <div class="company-desc">
                         <div class="col-md-2 col-sm-2 desc-pic">
                             <img src="/images/img7.jpg" alt=""/>
                         </div>
                         <div class="col-md-10 col-sm-10 desc-p">
                             <p class="f-18 desc-txt">艾恩婚礼</p>
                         </div>
                     </div>
                     <div class="company-about">
                          <div class="col-md-2 col-sm-2">
                              <p class="about-title float-right">公司简介</p>
                          </div>
                          <div class="col-md-10 col-sm-10">
                              <p>经历七年的历程，慢慢学习经历七年的历程，慢慢学习经历七年的历程，慢慢学习经历七年的历程，慢慢学习经历七年的历程，慢慢学习</p>
                          </div>
                     </div>
                     <div class="company-about">
                         <div class="col-md-2 col-sm-2">
                             <p class="about-title float-right">公司信息</p>
                         </div>
                         <div class="col-md-10 col-sm-10">
                             <p>官方网址：<span>www.aien.com</span></p>
                             <p>官方微博：<span>艾恩婚礼</span></p>
                             <p>腾讯微信：<span>艾恩婚礼</span></p>
                             <p>营业时间：<span>艾恩婚礼</span></p>
                             <p>联系电话：<span>艾恩婚礼</span></p>
                             <p>地址：<span>艾恩婚礼</span></p>
                         </div>
                     </div>
                     <div class="company-about">
                         <div class="col-md-2 col-sm-2">
                             <p class="about-title float-right">公司案例</p>
                         </div>
                         <div class="col-md-10 col-sm-10 no-top">
                             <div class="col-md-3 col-sm-12 left">
                                 <a class="block-content-item">
                                     <img src="/images/img6.jpg" alt="">
                                     <div class="content-item-text">
                                         <div class="content-item-text-desc">
                                             <p class="f-16 f-white">拾壹</p>
                                             <ul class="desc-list">
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                             <div class="col-md-3 col-sm-12">
                                 <a class="block-content-item left">
                                     <img src="/images/img6.jpg" alt="">
                                     <div class="content-item-text">
                                         <div class="content-item-text-desc">
                                             <p class="f-16 f-white">拾壹</p>
                                             <ul class="desc-list">
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                             <div class="col-md-3 col-sm-12">
                                 <a class="block-content-item left">
                                     <img src="/images/img6.jpg" alt="">
                                     <div class="content-item-text">
                                         <div class="content-item-text-desc">
                                             <p class="f-16 f-white">拾壹</p>
                                             <ul class="desc-list">
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                             <div class="col-md-3 col-sm-12">
                                 <a class="block-content-item left">
                                     <img src="/images/img6.jpg" alt="">
                                     <div class="content-item-text">
                                         <div class="content-item-text-desc">
                                             <p class="f-16 f-white">拾壹</p>
                                             <ul class="desc-list">
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                             <div class="col-md-3 col-sm-12">
                                 <a class="block-content-item left">
                                     <img src="/images/img6.jpg" alt="">
                                     <div class="content-item-text">
                                         <div class="content-item-text-desc">
                                             <p class="f-16 f-white">拾壹</p>
                                             <ul class="desc-list">
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                                 <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>
{{> ModalDialog}}
{{> footer}}

<script src="/js/lib/jquery-2.1.4.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/jquery.lazyload.min.js"></script>
<script src="/js/hb.js"></script>
<script src="/js/app.js"></script>
<script src="/js/app.index.js"></script>
<script src="/js/app.companyDetail.js"></script>

<script>
    $(function(){
        app.index.lazy();
        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();
        app.index.pagActive();

        app.companyDetail.uiHeight();
        app.companyDetail.verticalMiddle("desc-p","desc-txt");
    })


</script>
</body>
</html>



