<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="favicon.ico"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <title>搜索引擎_幻熊科技 - 更智慧的婚礼业</title>
    {{> commonHeaderEnd}}
</head>
<body>
{{> header}}
<div class="halo-search case picture">
<div class="top-tab">
    <div class="container">
        <div class="tab-item no-margin-left">
            <a href="">
                <span class="item-img"><img src="/images/img1.png" alt=""></span>
                <span class="item-text">婚礼案例</span>
            </a>
        </div>
        <div class="tab-item">
            <a href="">
                <span class="item-img"><img src="/images/img2.png" alt=""></span>
                <span class="item-text">婚礼图片</span>
            </a>
        </div>
        <div class="tab-item">
            <a href="">
                <span class="item-img"><img src="/images/img3.png" alt=""></span>
                <span class="item-text">婚礼公司</span>
            </a>
        </div>
    </div>
</div>
<div class="search-box">
    <div class="container">
        <div class="search-box-text">
            <h4 class="f-white"><span id="">22,098</span> 场精选婚礼案例 与 <span>178,298</span> 张灵感婚礼图片</h4>
            <p class="f-white">在这里，见证一个行业的跌宕起伏。</p>
        </div>
        <div class='search-box-input col-md-6 col-md-push-3'>
            <div class="col-md-12 col-sm-12">
                <div class="search_input">
                    <form action="">
                        <span class="search_wrapper">
                            <input type="text" placeholder="白云">
                            <a class="search_button" type="submit">
                                <!--<img src="/images/img5.png" alt="">-->
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                        </span>
                    </form>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 search_button_group">
                <form action="">
                    <div class="col-md-3 col-xs-3 col-sm-3">
                        <a class="f-12">剪影</a>
                    </div>
                    <div class="col-md-3 col-xs-3 col-sm-3">
                        <a class="f-12">蝴蝶</a>
                    </div>
                    <div class="col-md-3 col-xs-3 col-sm-3">
                        <a class="f-12">新娘捧花</a>
                    </div>
                    <div class="col-md-3 col-xs-4 col-sm-3">
                        <a class="f-12">婚礼路引</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="tab-list">
    <div class="container">
        <div class="tab-title">
            <div class="tab-title-left">
                <a href="" id="category-element" class="category box-shadow active">元素</a>
                <a href="" id="category-classify" class="category box-shadow ">分类</a>
            </div>
            <div class="tab-title-right">
                <a href="" class="f-12">最新<span>|</span></a>
                <a href="" class="f-12">最热<span>|</span></a>
                <a href="" class="f-12">最赞</a>
            </div>
        </div>
    </div>
</div>
<div id="content-element" class="tab-list-content show">
    <div class="container">
        <div class="tab-list-content-wrapper box-shadow">
            <div class="tab-list-content-item">
                <ul>
                    <li><a href="">全部</a></li>
                    <li><a href="">剪影</a></li>
                    <li><a href="">蝴蝶</a></li>
                    <li><a href="" class="active">木质</a></li>
                    <li><a href="">春天</a></li>
                    <li><a href="">城堡</a></li>
                    <li><a href="">白云</a></li>
                    <li><a href="">星星</a></li>
                    <li><a href="">菱形</a></li>
                    <li><a href="">三角</a></li>
                    <li><a href="">雪花</a></li>
                    <li><a href="">樱花</a></li>
                    <li><a href="">卡通</a></li>
                    <li><a href="">纱幔</a></li>
                    <li><a href="">泡雕</a></li>

                    <li><a href="">纸花</a></li>
                    <li><a href="">蜡烛</a></li>
                    <li><a href="">明场</a></li>
                    <li><a href="">灯珠</a></li>
                    <li><a href="">渐变</a></li>
                    <li><a href="">撞色</a></li>
                    <li><a href="">爱心</a></li>
                    <li><a href="">气球</a></li>
                    <li><a href="">飞屋</a></li>
                    <li><a href="">棉花</a></li>
                    <li><a href="">蕾丝</a></li>
                    <li><a href="">花墙</a></li>
                    <li><a href="">龙柳</a></li>
                    <li><a href="">拱门</a></li>
                    <li><a href="">树木</a></li>

                    <li><a href="">镜面</a></li>
                    <li><a href="">木桩</a></li>
                    <li><a href="">垂挂</a></li>
                    <li><a href="">架构</a></li>
                    <li><a href="">水晶</a></li>
                    <li><a href="">喷水池</a></li>
                    <li><a href="">满天星</a></li>
                    <li><a href="">向日葵</a></li>
                    <li><a href="">LED屏</a></li>
                    <li><a href="">地排花</a></li>
                    <li><a href="">星空幕布</a></li>
                    <li><a href="">长桌装饰</a></li>
                    <li><a href="">翻糖蛋糕</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content-classify" class="tab-list-content show">
    <div class="container">
        <div class="tab-list-content-wrapper box-shadow">
            <div class="tab-list-content-item">
                <ul>
                    <li><a href="">新娘捧花</a></li>
                    <li><a href="">婚礼桌花</a></li>
                    <li><a href="">婚礼路引</a></li>
                    <li><a href="" class="active">婚礼车花</a></li>
                    <li><a href="">舞台背景</a></li>
                    <li><a href="">拍照背景</a></li>
                    <li><a href="">迎宾区域</a></li>
                    <li><a href="">迎宾牌示</a></li>
                    <li><a href="">席位图示</a></li>
                    <li><a href="">椅背装饰</a></li>
                    <li><a href="">仪式门亭</a></li>
                    <li><a href="">签到台饰</a></li>
                    <li><a href="">甜品蛋糕</a></li>
                    <li><a href="">婚礼喜糖</a></li>
                    <li><a href="">婚礼请柬</a></li>

                    <li><a href="">餐桌布置</a></li>
                    <li><a href="">新郎胸花</a></li>
                    <li><a href="">婚礼灯光</a></li>
                    <li><a href="">新娘婚纱</a></li>
                    <li><a href="">新娘头纱</a></li>
                    <li><a href="">伴娘礼服</a></li>
                    <li><a href="">妆面造型</a></li>
                    <li><a href="">发型配饰</a></li>
                    <li><a href="">新郎服饰</a></li>
                    <li><a href="">新娘婚鞋</a></li>
                    <li><a href="">婚戒首饰</a></li>
                    <li><a href="">手工捧花</a></li>
                    <li><a href="">新娘腕花</a></li>
                    <li><a href="">桌卡设计</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="picture-box">
    <div class="container">
        <div class="search-block-content">
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a class="block-content-item">
                    <img src="/images/img6.jpg" alt="">
                    <div class="content-item-text">
                        <div class="content-item-text-desc">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
    <div class="case-pagination">
        <div class="container">
            <ul class="pagination pagination-item">
                <li><a href="#" class="no-margin-left"> < </a></li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"> > </a></li>
            </ul>
        </div>
    </div>
</div>
{{> ModalDialog}}
{{> footer}}

<script src="/js/lib/jquery-2.1.4.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/jquery.lazyload.min.js"></script>
<script src="/js/hb.js"></script>
<script src="/js/app.js"></script>
<script src="/js/app.index.js"></script>
<script src="/js/app.pictureIndex.js"></script>
<script>
    $(function(){
        app.index.lazy();
        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();
        app.index.pagActive();

        /*pictureIndex*/
        app.pictureIndex.tab();
    })


</script>
</body>
</html>


