<!DOCTYPE html>
<html>
<head>
    {{> commonHeader pageTitle='搜索引擎_幻熊科技 - 更智慧的婚礼业'}}
    {{> commonHeaderEnd}}
</head>
<body>
{{> header}}
<div class="halo-search caseDetail pictureDetail">
<div class="top-tab">
    <div class="container">
        <div class="tab-item no-margin-left">
            <a href="">
                <span class="item-img"><img src="/images/img1.png" alt=""></span>
                <span class="item-text">婚礼案例</span>
            </a>
        </div>
        <div class="tab-item">
            <a href="">
                <span class="item-img"><img src="/images/img2.png" alt=""></span>
                <span class="item-text">婚礼图片</span>
            </a>
        </div>
        <div class="tab-item">
            <a href="">
                <span class="item-img"><img src="/images/img3.png" alt=""></span>
                <span class="item-text">婚礼公司</span>
            </a>
        </div>
    </div>
</div>
<div class="case-detail-block">
    <div class="container">
        <div class="col-md-9 detail-content-wrapper">
            <div class="detail-content-article">
                <div class="content-pic-box">
                    <img src="/images/img9.jpg" alt="" class="no-margin-top"/>
                </div>
            </div>
            <div class="detail-content-topic">
                <div class="detail-content-title">
                    <div class="content-title-desc">
                        <div class="title-desc-icon inline-style">
                            <ul class="desc-list">
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                                <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                            </ul>
                        </div>
                        <div class="title-desc-color inline-style">
                            <div class="color-liner">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="title-desc-txt inline-style">
                            <span class="f-12">汉式</span>
                            <span class="f-12">中国红</span>
                            <span class="f-12">灯笼</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-content-commit">
                <form action="" id="commit-form">
                    <div class="textarea-wrapper">
                        <textarea class="f-14" name="" rows="5"></textarea>
                        <p class="f-14">还可以输入<span class="num">500</span>个字</p>
                    </div>
                    <div class="btn-group">
                        <a ><span class="glyphicon glyphicon-heart-empty f-22"></span><span>+1</span></a>
                        <button  class="btn submit-btn" type="submit">评&nbsp;论</button>
                    </div>
                </form>
                <div class="commit-box">
                    <p class="commit-num f-14">16条评论</p>
                    <div class="commit-text">
                        <div class="text-item-wrapper">
                            <div class="commit-text-item">
                                <div class="item-pic">
                                    <img src="/images/img10.jpg" alt=""/>
                                </div>
                                <div class="item-desc">
                                    <p><span class="name f-16">李达键</span><span class="f-12">1天前</span></p>
                                    <p class="f-16">好有感觉的一场婚礼</p>
                                </div>
                            </div>
                        </div>
                        <div class="text-item-wrapper active">
                            <div class="commit-text-item">
                                <div class="item-pic">
                                    <img src="/images/img10.jpg" alt=""/>
                                </div>
                                <div class="item-desc">
                                    <p><span class="name f-16">李达键</span><span class="f-12">1天前</span></p>
                                    <p class="f-16">好有感觉的一场婚礼</p>
                                </div>
                            </div>
                        </div>
                        <div class="text-item-wrapper">
                            <div class="commit-text-item">
                                <div class="item-pic">
                                    <img src="/images/img10.jpg" alt=""/>
                                </div>
                                <div class="item-desc">
                                    <p><span class="name f-16">李达键</span><span class="f-12">1天前</span></p>
                                    <p class="f-16">好有感觉的一场婚礼</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="case-detail-list">
                <div class="detail-list-company">
                    <div class="company-img">
                        <a href=""><img src="/images/img7.jpg" alt=""/></a>
                    </div>
                    <div class="company-desc">
                        <div>
                            <p class="f-14"><a href="">北京艾恩婚礼策划</a></p>
                            <p class="f-12"><a href="">查看全部28个案例</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-list-num">
                <div class="desc-like f-14">
                    <p class="f-12">喜欢</p>
                    <p class="f-16">1970</p>
                </div>
                <div class="desc-comment f-14">
                    <p class="f-12">评论</p>
                    <p class="f-16">5</p>
                </div>
            </div>
            <div class="other-like-case">
                <h4 class="f-16">案例所有图片</h4>
                <div class="other-case-block">
                    <div class="case-item">
                        <div class="case-pic">
                            <img src="/images/img9.jpg" alt=""/>
                        </div>
                        <div class="case-pic">
                            <img src="/images/img9.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="case-item">
                        <div class="case-pic">
                            <img src="/images/img9.jpg" alt=""/>
                        </div>
                        <div class="case-pic">
                            <img src="/images/img9.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="other-like-case">
                <h4 class="f-16">其它相似图片</h4>
                <div class="other-case-block">
                    <div class="case-item">
                        <div class="case-pic">
                            <img src="/images/img9.jpg" alt=""/>
                        </div>
                        <div class="case-pic">
                            <img src="/images/img9.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="case-item">
                        <div class="case-pic">
                            <img src="/images/img9.jpg" alt=""/>
                        </div>
                        <div class="case-pic">
                            <img src="/images/img9.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> ModalDialog}}
{{> footer}}
{{> commonFooter }}

<script src="/js/app.caseDetail.js"></script>
<script>
    $(function(){
        app.index.lazy();
        app.index.nav();

        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();

        /*caseDetail*/
        app.caseDetail.companyDesc();
        app.caseDetail.verticalMiddle("commit-text-item","item-pic");
        app.caseDetail.commitForm();

    })


</script>
</body>
</html>



