<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="favicon.ico"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <title>搜索引擎_幻熊科技 - 更智慧的婚礼业</title>
    {{> commonHeaderEnd}}
</head>
<body>
{{> header}}
<div class="halo-search case topicDetail">
    <div class="top-tab">
        <div class="container">
            <div class="tab-item no-margin-left">
                <a href="">
                    <span class="item-img"><img src="/images/img1.png" alt=""></span>
                    <span class="item-text">婚礼案例</span>
                </a>
            </div>
            <div class="tab-item">
                <a href="">
                    <span class="item-img"><img src="/images/img2.png" alt=""></span>
                    <span class="item-text">婚礼图片</span>
                </a>
            </div>
            <div class="tab-item">
                <a href="">
                    <span class="item-img"><img src="/images/img3.png" alt=""></span>
                    <span class="item-text">婚礼公司</span>
                </a>
            </div>
        </div>
    </div>
    <div class="content-box">
        <div class="container">
            <div class='col-md-9 col-sm-12'>
                <div class="content-title">
                    <h1 class="f-22">梦回民国</h1>
                    <div class="title-desc-icon inline-style">
                        <ul class="desc-list">
                            <li class="desc-list-item f-10"><span class="glyphicon glyphicon-eye-open"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item f-10"><span class="glyphicon glyphicon-comment"></span><span class="desc-list-item-num">2850</span></li>
                            <li class="desc-list-item f-10"><span class="glyphicon glyphicon-heart-empty"></span><span class="desc-list-item-num">2850</span></li>
                        </ul>
                    </div>
                </div>
                <div class="content-block">
                    <div class="content-topic">
                        <img src="/images/img9.jpg" alt="">
                        <p>勾勒出青花瓷版的清秀面容勾勒出青花瓷版的清秀面容勾勒出青花瓷版的清秀面容勾勒出青花瓷版的清秀面容</p>
                    </div>
                    <div class="content-item">
                        <div class="item-cycle">
                            <img src="/images/img7.jpg" alt="">
                        </div>
                        <p>艾恩婚礼策划</p>
                        <h4 class="f-20">《时光》</h4>
                        <div class="content-pic">
                            <img src="/images/img9.jpg" alt="">
                            <img src="/images/img9.jpg" alt="">
                        </div>
                        <p class="content-desc">勾勒出青花瓷版的清秀面容勾勒出青花瓷版的清秀面容勾勒出青花瓷版的清秀面容勾勒出青花瓷版的清秀面容</p>
                        <a href="" class="more">查看案例 <span>></span> </a>
                    </div>
                    <div class="content-item">
                        <div class="item-cycle">
                            <img src="/images/img7.jpg" alt="">
                        </div>
                        <p>艾恩婚礼策划</p>
                        <h4 class="f-20">《时光》</h4>
                        <div class="content-pic">
                            <img src="/images/img9.jpg" alt="">
                            <img src="/images/img9.jpg" alt="">
                        </div>
                        <p class="content-desc">勾勒出青花瓷版的清秀面容勾勒出青花瓷版的清秀面容勾勒出青花瓷版的清秀面容勾勒出青花瓷版的清秀面容</p>
                        <a href="" class="more">查看案例 <span>></span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> ModalDialog}}
{{> footer}}

<script src="../public/js/lib/jquery-2.1.4.min.js"></script>
<script src="../public/js/lib/bootstrap.min.js"></script>
<script src="../public/js/lib/jquery.lazyload.min.js"></script>
<script src="../public/js/hb.js"></script>
<script src="../public/js/modernizr-custom.js"></script>
<script src="../public/js/hb.Modernizr.detects.js"></script>
<script src="../public/js/app.js"></script>
<script src="../public/js/app.index.js"></script>
<script src="../public/js/app.caseIndex.js"></script>
<script src="//cdn.bootcss.com/detectizr/2.2.0/detectizr.min.js"></script>
<script>
    $(function(){
        "use strict";
        app.index.lazy();
        app.index.nav();
        app.index.indexInit();
        app.index.register();
        app.index.zcBtn();
        app.index.uiForms();
        app.index.login();
        app.index.summitHover();
        app.index.loginInit();
        app.index.pagActive();

        /*caseIndex*/
        app.caseIndex.tab();
    })


</script>
</body>
</html>


