<meta charset="utf-8">
<title><%= pageTitle %></title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=1360">
<meta name="format-detection" content="telephone=no" />
<link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<!-- build:css css/lib/ux_1458811861_4228117/haloIcon.css -->
<link rel="stylesheet" href="../../public/css/lib/ux_1459160805_4133239/iconfont.css" type="text/css"/>
<!-- endbuild -->
<!-- build:css css/main.css -->
<link href="../../public/css/style.css" rel="stylesheet" type="text/css"/>
<!-- endbuild -->