<div class="footer-bg">
    <footer class="head-container clearfix">
        <div class="footer-content">
            <div class="footer-header">
                <img src="/images/img15.png" alt="">
            </div>
            <div class="footer-text f-14">
                幻熊，率先推出了行业领先的辅助婚礼策划系统，并设计出绝妙的幻熊App。幻熊凭借对数字虚拟化技术的非凡驾驭，引领了婚礼业</br>
                客户体验革命。幻熊通过主办享有盛誉的中国婚礼行业高峰论坛，业界权威的中国婚礼策划金熊奖，及影响广泛的中国婚礼行业</br>
                年度人物评选，实现了对中国婚嫁产业的格局重塑。更于近日发布了幻熊开放平台，婚礼行业的未来正因此而改写。
            </div>
            <div class="footer-bottom">
                © 2009-2016 All rights reserved. Halobear Inc. <a href="http://www.halobear.com/about/agreement" class="a-style s">用户协议</a><i class="i">|</i><a
                            href="http://www.halobear.com/about/clause" class="a-style">用户条款</a>
            </div>
        </div>
    </footer>
</div>