<footer class="index2-footer-block">
    <div class="footerContent">
        <div class="webFooter">
            <div class="footerContent">
                <div class="container">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="footer-block"><h6>产品服务</h6>
                                <ul class="list-unstyled">
                                    <li><a href="http://new2.halobear.com/service">幻熊自动化营销系统</a></li>
                                    <li><a href="http://new2.halobear.com/service">幻熊门店销售系统</a></li>
                                    <li><a href="http://new2.halobear.com/service">幻熊业务统筹工具</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="footer-block"><h6>行业活动</h6>
                                <ul class="list-unstyled">
                                    <li><a href="http://new2.halobear.com/summit">中国婚礼行业高峰论坛</a></li>
                                    <li><a href="http://new2.halobear.com/summit/figure">中国婚礼行业年度人物</a></li>
                                    <li><a href="http://new2.halobear.com/summit/goldbear">中国婚礼策划金熊奖</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="footer-block"><h6>商家登入</h6>
                                <ul class="list-unstyled">
                                    <li><a href="http://ams.halobear.cn/login">幻熊营销系统后台</a></li>
                                    <li><a href="http://ams.halobear.cn/login">幻熊门店系统后台</a></li>
                                    <li><a href="http://ams.halobear.cn/login">幻熊结婚圈管理后台</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="footer-block"><h6>关于幻熊</h6>
                                <ul class="list-unstyled">
                                    <li><a href="http://new2.halobear.com/about">了解幻熊品牌故事</a></li>
                                    <li><a href="http://new2.halobear.com/about/join">加入幻熊精英团队</a></li>
                                    <li><a href="http://new2.halobear.com/about/agreement">阅读幻熊用户协议</a></li>
                                </ul>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>
    <div class="copyright bg-grey2 index2">
        <div class="container">
            <div class="col-md-12">
                <ul class="list-unstyled clearfix ul-list">
                    <li><a href="http://www.halobear.com/index/search">搜索<span>|</span></a></li>
                    <li><a href="http://www.halobear.com/service">产品<span>|</span></a></li>
                    <li><a href="http://www.halobear.com/school">培训<span>|</span></a></li>
                    <li><a href="http://www.halobear.com/summit">峰会<span>|</span></a></li>
                    <li><a target="_blank" href="http://ams.halobear.cn/">商家</a></li>
                </ul>
                <span>©2009-2016 All rights reserved. <span class="tt"> Halobear Inc.</span>&nbsp;&nbsp;&nbsp;<a class="foot-l"
                            href="http://www.halobear.com/about/agreement"><i>用户协议</i></a>&nbsp;&nbsp;<i>|</i>&nbsp;&nbsp;<a  class="foot-l"
                            href="http://www.halobear.com/about/clause"><i>用户条款</i></a></span>
            </div>
        </div>
    </div>
</footer>