<header class="newIndex">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img data-original="/app/public/images/logo.png" alt="" class="lazy">
            </a>
        </div>
        <div class="nav-menu-icon">
            <a href="#"><i></i></a>
        </div>
        <nav class="newIndex-nav">
            <ul>
                <li class="active"><a href="/index/search">行业搜索</a></li>
                <li><a href="/school">在线学院</a></li>
                <li><a href="http://ams.halobear.cn/" target="_blank">门店管理</a></li>
                <li><a href="/service">产品介绍</a></li>
                <li><a href="/summit">高峰论坛</a></li>
                <li><a href="/about">关于幻熊</a></li>
                <li><a href="#">登录注册<span class="fa fa-times open-drop"></span></a>
                    <ul class="dropmenu">
                        <li><a id="nav-login-btn" data-toggle="modal" data-target="#login-modal">登录</a></li>
                        <li><a id="nav-register-btn" data-toggle="modal" data-target="#register-modal">注册</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>