

<!--[if lte IE 9]>
<div class="ie-update" id="ie-update" style="display: none;">
    <a href="javascript:void(0);" id="ie-update-close" class="ie-update-close">不再提醒</a>
    您的浏览器版本太旧，推荐您使用 <a target="_blank" href="http://se.360.cn/">360安全浏览器</a>，或者<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie">升级</a>您的ie浏览器
</div>
<![endif]-->


<header class="header newIndex">
    <div class="head-container cf">
        <nav class="header-nav newIndex-nav ">
            <ul class="list-unstyled clearfix">
                <li><a href="http://www.halobear.com/" target="_blank">幻熊主页</a><span class="line">|</span></li>
                <li><a href="http://open.halobear.com/">开放平台</a><span class="line">|</span></li>
                <li><a href="http://www.halobear.com/school" target="_blank">在线学院</a><span class="line">|</span></li>
                <li><a href="http://www.halobear.com/summit" target="_blank">高峰论坛</a><span class="line">|</span></li>
                <li><a href="http://www.halobear.com/service" target="_blank">营销系统</a><span class="line">|</span></li>
                <li><a href="http://www.halobear.com/service" target="_blank">门店系统</a><span class="line">|</span></li>
                <li><a href="http://ams.halobear.cn/login" target="_blank">管理系统后台</a><span class="line2">|</span></li>
                <li><a href="http://www.halobear.cn/merchant2/login" target="_blank">幻熊结婚圈后台</a></li>
                <li class="pull-right rt" nav-before-login style="display: none;">
                    <a id="nav-register-btn" data-toggle="modal" data-target="#register-modal">注册</a>
                </li>
                <li class="bar pull-right rt" nav-before-login  style="display: none;"><span>|</span></li>
                <li class="pull-right rt" nav-before-login style="display: none;">
                    <a  data-toggle="modal" data-target="#login-modal">登录</a>
                </li>

                <li class="pull-right rt" nav-after-login style="display: none;">
                    <a id="nav-login-btn-logout" >退出</a>
                </li>
                <li class="bar pull-right rt" nav-after-login  style="display: none;"><span>|</span></li>
                <li class="pull-right rt" nav-after-login  style="display: none;">
                    <a id="nav-login-btn-hidden" ></a>
                </li>


            </ul>
        </nav>
    </div>
</header>