<header class="header newIndex">
    <div class="s-container cf">
        <div class="logo">
            <a href="http://new2.halobear.com/">
                <img data-original="/images/logo.png" alt="" class="lazy">
            </a>
        </div>
        <div class="nav-menu-icon">
            <a href="#"><i></i></a>
        </div>
        <nav class="header-nav newIndex-nav">
            <ul class="list-unstyled">
                <li class="active"><a href="/">行业搜索</a></li>
                <li><a href="http://www.halobear.com/school">在线学院</a></li>
                <li><a href="http://www.halobear.com/summit">高峰论坛</a></li>
                <li><a href="http://www.halobear.com/service">产品管理</a></li>
                <li class="summit-drop" id="summit-drop"><a href="#">登录注册<span class="fa fa-times open-drop"></span></a>
                    <ul class="dropmenu list-unstyled" id="drop_menu">
                        <li><a id="nav-login-btn" data-toggle="modal" data-target="#login-modal">登录</a></li>
                        <li><a id="nav-register-btn" data-toggle="modal" data-target="#register-modal">注册</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>