<!--登入框-->
<div class="modal fade login-modal" id="login-modal" tabindex="-1" aria-labelledby="login-modal"  role="dialog">
	<div class="modal-dialog modal-big school-modal" >
		<div class="modal-content ">
			<div class="modal-body school-body">
				<img src="/images/school-banner.png" alt="">
				<p style="text-align:center;font-size:12px;">领先者背后的领先者</p>
				<form class="js-validation-login form-horizontal push-30-t push-50" id="school-form-login">
					<div class="form-group">
						<div class="col-xs-12">
							<div class="form-material form-material-primary floating">
								<input class="form-control" type="text" id="login-username" name="login-username" autocomplete="off" tabindex="1">
								<label for="login-username">幻熊通行证（手机号）</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<div class="form-material form-material-primary floating">
								<input class="form-control" type="password" id="login-password" name="login-password" autocomplete="off" tabindex="1">
								<label for="login-password">密码</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<button class="btn login-btn" type="submit">登&nbsp;入</button>
						<button type="button" class="btn btn-link forget-password-bt" id="show-forget-password-bt">忘记密码</button>
					</div>
				</form>

				<form class="js-validation-forget-password form-horizontal push-30-t push-50" id="school-form-forget-password" style="display: none;">
					<div class="form-group">
						<div class="col-xs-12">
							<div class="form-material form-material-primary floating">
								<input class="form-control" type="text" id="forget-password-phone" name="forget-password-phone" autocomplete="off" tabindex="1">
								<label for="forget-password-phone">幻熊通行证（手机号）</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<div class="form-material form-material-primary floating">
								<input class="form-control" type="text" id="forget-password-verify-code" name="forget-password-verify-code" autocomplete="off" tabindex="1">
								<label for="forget-password-verify-code">验证码</label>
								<button type="button" class="btn btn-sm btn-default get-forget-password-verify-code-bt" id="get-forget-password-verify-code-bt">获取验证码</button>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<div class="form-material form-material-primary floating">
								<input class="form-control" type="password" id="forget-password-password" name="forget-password-password" autocomplete="off" tabindex="1">
								<label for="forget-password-password">密码</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<div class="form-material form-material-primary floating">
								<input class="form-control" type="password" id="forget-password-rpassword" name="forget-password-rpassword" autocomplete="off" tabindex="1">
								<label for="forget-password-rpassword">重复密码</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<button class="btn forget-password-btn" type="submit">完&nbsp;成</button>
						<button type="button" class="btn btn-link login-bt" id="show-login-bt">返回登录</button>
					</div>
				</form>


			</div>
		</div>
	</div>
</div>


<!--验证框-->
<div class="modal fade" id="register-modal" tabindex="-1" aria-labelledby="register-modal"  role="dialog">
	<div class="modal-dialog modal-big school-modal" >
		<div class="modal-content ">
			<div class="modal-body school-body">
				<img src="/images/school-banner.png" alt="">
				<p style="text-align:center;font-size:12px;">领先者背后的领先者</p>
				<form class="js-validation-login form-horizontal push-30-t push-50" id="school-form-register">
					<div id="register-form-input">
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control" type="text" id="register_invite_code" name="register_invite_code" autocomplete='off'>
									<label for="register_invite_code">请输入您的邀请码</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control" type="text" id="register_phone" name="register_phone" autocomplete='off'>
									<label for="register_phone">请输入您的手机号码</label>
								</div>
							</div>
						</div>
					</div>
					<div id="register-form-submit">
						<div class="form-group">
							<button class="btn login-btn " id="send_btn" type="submit">发送验证码</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- 注册 -->
<div class="modal fade" id="zc-modal" tabindex="-1" aria-labelledby="zc-modal"  role="dialog">
	<div class="modal-dialog modal-big zc-modal" >
		<div class="modal-content ">
			<div class="modal-body school-body">
				<img src="/images/school-banner.png" alt="">
				<p style="text-align:center;font-size:12px;line-height:30px;color: #9e9e9e;">领先者背后的领先者</p>
				<form class="js-validation-login form-horizontal push-30-t push-50" id="school-form-ZC">
					<div id="register-form-input">
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_phone" type="text" id="n_register_phone" name="n_register_phone" autocomplete="off">
									<label for="n_register_phone">请输入手机号</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_verify_code" type="text" id="n_register_verify_code" name="n_register_verify_code" autocomplete="off">
									<label for="n_register_verify_code">请输入短讯验证码</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_invite_code" type="text" id="n_register_invite_code" name="n_register_invite_code" autocomplete="off">
									<label for="n_register_invite_code">请输入邀请码</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_username" type="text" id="n_register_username" name="n_register_username" autocomplete="off">
									<label for="n_register_username">请输入昵称</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_city" type="text" id="n_register_city" name="n_register_city" autocomplete="off">
									<label for="n_register_city">请输入城市</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_company" type="text" id="n_register_company" name="n_register_company" autocomplete="off">
									<label for="n_register_company">请输入公司</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_wechat" type="text" id="n_register_wechat" name="n_register_wechat" autocomplete="off">
									<label for="n_register_wechat">请输入微信号</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="form-material form-material-primary floating">
									<input class="form-control n_register_password" type="password" id="n_register_password" name="n_register_password" autocomplete="off">
									<label for="n_register_password">请输入密码</label>
								</div>
							</div>
						</div>
					</div>
					<div id="register-form-submit">
						<div class="form-group">
							<button class="btn login-btn" id="zc_btn" type="submit">注&nbsp;册</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


