<div class="top-tab">
    <div class="container">
        <div class="tab-item no-margin-left">
            <a href="/case" class="<% if (data.baseUrl=='/case') {'active'}%>">
                <span class="item-img"><img src="/images/img1.png" alt=""></span>
                <span class="item-text">婚礼案例</span>
            </a>
        </div>
        <div class="tab-item">
            <a href="/picture" class="<% if (data.baseUrl=='/picture'){ %>active<%}%>">
                <span class="item-img"><img src="/images/img2.png" alt=""></span>
                <span class="item-text">婚礼图片</span>
            </a>
        </div>
        <div class="tab-item">
            <a href="/company" class="<% if (data.baseUrl=='/company'){ %>active<%}%>">
                <span class="item-img"><img src="/images/img3.png" alt=""></span>
                <span class="item-text">婚礼公司</span>
            </a>
        </div>
    </div>
</div>