<div class="search-main-nav">
    <div class="s-container">
        <div class="top-tab">
            <div class="tab-item no-margin-left">
                <a href="/case" class="<% if (baseUrl == '/case') { %>case-active<% } %>">
                    <span class="item-img "><i class="haloIcon haloIcon-folder f-18"></i></span>
                    <span class="item-text f-16">婚礼案例</span>
                </a>
            </div>
            <div class="tab-item">
                <a href="/picture" class="<% if (baseUrl == '/picture'){ %>picture-active<% } %>">
                    <span class="item-img "><i class="haloIcon haloIcon-camera f-18"></i></span>
                    <span class="item-text f-16">婚礼图片</span>
                </a>
            </div>
            <div class="tab-item">
                <a href="/company" class="<% if (baseUrl == '/company'){ %>company-active<% } %>">
                    <span class="item-img "><i class="haloIcon haloIcon-building f-18"></i></span>
                    <span class="item-text f-16">婚礼公司</span>
                </a>
            </div>
        </div>
    </div>
</div>